.title{
    @include breakpoint-down(medium){
        h4{
        font-weight: 700;
        font-size: 23px;
        line-height: 34px;
        }
    }

    font-weight: 800;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: center;
    color: $titleColor;
    
}

.body{
    @include breakpoint-down(medium){
        flex-wrap: wrap;

        h4{
            font-weight: 700;
            font-size: 23px;
            line-height: 34px;
            }

        h5{font-size: 16px;}

        p{font-size: 14px;}

    }

    display: flex;
    flex-wrap: nowrap;
    h4{
        color: $titleColor;
        font-weight: 700;
        size: 54px;
        line-height: 68px;
        letter-spacing: 0;
    }

    p{
        font-size: 15px;
        color: #5C7392;
    }
    
    h5{
        color: $titleColor;
        font-weight: 700;
        font-size: 18px;
        height: 22px;
    }

    .button{
        color: white;
        text-decoration: none;
        background-color: $backgroundColor;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 48px;
        padding: 1rem 2.75rem;
        border-radius: 10px;
        cursor: pointer;
    }

}

.first-frame{
    @include breakpoint-down(medium){
        padding: 8rem 0 0 1rem; 
    }
    padding-top: 7.875rem;
    background-color: white;
    &__left{
        flex-grow: 1;
        padding-top: 1.5rem;
        left: -1px;
        
        img{
            width: 100%;
            height: auto;  
        }
    }

    &__right{
        padding-left: 1rem;
        flex-grow: 1;

        &__shape{
            padding-top: 1rem;
            padding-bottom: 1rem;
            img:not(:last-child){
                padding-right: 1rem;
            }
        }   
    }
}

.background{ background-color: $backgroundColor; width:100%; height: 85vh;}

.second-frame{

    @include breakpoint-down(medium){
        margin-top: 15rem;
        position: relative;
        flex-direction: column-reverse;
        padding: 4rem 0 5rem 1rem; 
    }
    margin-top: 1rem;
    padding: 4rem 0 0 8rem;
    background-image: url(../assets/images/Pattern.png);

    h4{color: white;}
    h5{color: white;}
    p{color: white;}

    .button{
        background-color: white;
        color: $backgroundColor;
    }

    &__left{
        @include breakpoint-down(medium){
            position: relative;
            padding-top: 5rem;
        }
        flex-grow: 2;
        img{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &__right{
        flex-grow: 1;
        img{
            @include breakpoint-down(medium){
                position: absolute;
                top: -20vh;
                width: 50%;
                right: 15vw;
            }

            @include breakpoint-down(small){
                position: absolute;
                top: -30vh;
                width: 70%;
                right: 15vw;
            }
            width: 100%;
            height: auto;
        }
    }
}

.third-frame{
    // padding-top: 5rem;
    background-color: white;
    
    &__left{
        flex-grow: 1;
        padding-top: 1.5rem;
        left: -1px;
        
        img{
            width: 100%;
            height: auto;  
        }
    }

    &__right{
        flex-grow: 1;
        padding-left: 1rem;
        &__shape{
            padding-top: 1rem;
            padding-bottom: 1rem;
            img:not(:last-child){
                padding-right: 1rem;
            }
        }   
    }
}

.video-frame{
    margin-top: 1rem;
    background-image: url(../assets/images/video1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 70vh 0 0 rgba(0,0,0,.5);
    
    text-align: center;
    justify-content: center;
    align-items: center;
     height: 70vh;

    &__text{
        h5{
            color: white;
            @include breakpoint-down(medium){
                margin: 1rem 0 2rem 0;
                padding: 1rem 0 2rem 0;
            }
        }
    }
}

.customer-pano{
    padding-top: 3rem;
    text-align: center;
    h5{
        color: $titleColor;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;}
    &__logo{
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        @include breakpoint-down(medium){
            flex-flow: column;
        }
    .container{display: flex;}

    img{
        padding: 1rem 0 1rem 0;
        width: 50%;
        @include breakpoint-down(medium){
            width: 50%;
            align-self: center;
        }
    }
    }
}

.feedback{
    margin-top: 2rem;
    background-color: $reviewBackgroundColor;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    p{ color: $commentColor;}
    h5{color: $titleColor;}
    img{
        padding-top: 0.5rem;
    }
}