.title{
    h4{
        font-weight: 800;
        font-size: 54px;
        line-height: 70px;
        letter-spacing: 1px;
        text-align: center;
        color: $titleColor;
    }
}

.first-frame{
    padding-top: 7.875rem;
    background-color: white;
    display: flex;

    &__left{
        flex-grow: 1;
        padding-top: 1.5rem;
        left: -1px;
        
        img{
            width: 700px;  
        }
    }

    &__right{
        padding-left: 2rem;
        flex-grow: 1;

        h4{
            color: $titleColor;
            font-weight: 700;
            size: 54px;
            line-height: 68px;
            letter-spacing: 0;
        }

        p{
            color: #5C7392;
        }
        
        h5{
            color: $titleColor;
            font-weight: 700;
            font-size: 18px;
            height: 22px;
        }

        &__shape{
            padding-top: 1rem;
            padding-bottom: 1rem;
            img:not(:last-child){
                padding-right: 1rem;
            }
        }   
    
        .button{
            color: white;
            text-decoration: none;
            background-color: $backgroundColor;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 18px;
            line-height: 48px;
            padding: 1rem 2.75rem;
            border-radius: 10px;
        }
    }
}