footer{
    background-color: $backgroundColor;
    background-image: url(../assets/images/FooterPattern.png);
    background-size: 100%;
    width: 100%;
    height: auto;
}
.footer{

    @include breakpoint-down(medium){
        display: block;
        padding-left: 1rem;
        padding-top: 2rem;
    }
    position: relative;
    padding-left: 5rem;
    h5{color: white; padding-top: 1rem;}
    p{color: white;}

    justify-content: space-between;
    &__info{
        padding-right: 1rem;
        // sending mail form 
        &__form{ 
            input[type=email]{
                width: 100%;
                font-family: "Prompt";
                padding-left: 1rem;
                border: none;
                background: none;
                outline: none;
            }

            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            background-color: rgba(255,255,255,0.3);
            border-radius: 11px;
            .button{
                p{color: $titleColor; margin: 0; padding-top: 0.5rem; font-weight: bold;}
                margin: 0.2rem;
                color: $titleColor;
                background-color: white;
                padding: 0 2.5rem 0.5rem 2.5rem;
            }
        }
    }

    &__connect{
        .icon{
            
        @include breakpoint-down(medium){
            position: relative;
            align-self: center;
            left: 0;
            bottom: 3rem;
        }
            position: absolute;
            right: 5rem;
            bottom: 10rem;
            img{
                padding-right: 1rem;
                cursor: pointer;
            }
        }
    }
}