.nav{ /*navigation */
    background-color: none;
    height: 6.875rem;
    display: flex;
    align-items: center;

    a{
        display: flex;
    }

    &__logo{
        img{
            padding-left: 6rem;
            width: auto;
        }
    }

    &__button{
        p{
            margin: 0;
            align-self: center;
            color: $backgroundColor;
            font-weight: 600;
        }
        text-decoration: none;
        background-color: white;
        position: relative;
        margin-left: auto;
        margin-right: 1rem;
        padding: 0rem 2rem 0rem 1.5rem;
        border-radius: 10px;

        img{
        padding: 0.5rem 0.5rem 0.5rem;
        }
    }  
}

.slogan{
    margin: 0;
    padding-left: 6rem;
    color: #FDFDFD;
    h4{
        margin-bottom: 0;
    }
}

.pano{
    display: flex;
    color: white;
    margin: 0rem 2rem 0 6rem;
    &__left{
        flex-grow: 20;
        &__info{
            display: flex;
            .container:not(:last-child){
                margin-right: 2rem;
            }
        }
    }

    &__right{
        position: relative;
        display: flex;
        flex-grow: 1;
        margin-right: 0;
        padding-left: 3rem;
        img{
            width: 100%;
            height: auto;
        }
    }

    
}
