.header{
    background-color: none;
    height: 6.875rem;
    display: flex;
    align-items: center;
    // padding: 0 1rem 1rem 1rem;
    a{
        display: flex;
    }

    &__logo{
        img{
            padding-left: 6rem;
            width: 106px;
        }
    }

    &__button{
        p{
            margin: 0;
            align-self: center;
            color: $backgroundColor;
            font-weight: 600;
        }
        text-decoration: none;
        background-color: white;
        position: relative;
        margin-left: auto;
        margin-right: 1rem;
        padding: 0rem 2.125rem 0rem 2.125rem;
        border-radius: 10px;

        img{
        padding: 1rem 0.5rem 1rem;
        }
    }  
}
