@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;500;700;900&display=swap");
html {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url(../assets/images/BG.png);
}

@media (min-width: 900px) {
  html {
    background-color: white;
    background-image: url(../assets/images/BG.png);
    background-size: contain;
  }
}

body {
  margin: 0%;
  font-family: 'Prompt', sans-serif;
}

body h4 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 48px;
  line-height: 62px;
  margin: 1rem 0 0.5rem 0;
}

body h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 1rem 0 0.5rem 0;
}

body p {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 26px;
  margin: 1rem 0 0.5rem 0;
}

@media (max-width: 899px) {
  body {
    font-family: 'Prompt', sans-serif;
  }
  body h4 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
    margin: 1rem 0 0.5rem 0;
  }
  body h5 {
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    margin: 1rem 0 0.5rem 0;
  }
  body p {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 21px;
    margin: 1rem 0 0.5rem 0;
  }
}

@media (max-width: 899px) {
  .hide-for-mobile {
    display: none;
  }
}

.nav {
  /*navigation */
  background-color: none;
  height: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo img {
  padding-left: 6rem;
  width: auto;
}

@media (max-width: 899px) {
  .nav__logo img {
    padding-left: 1rem;
  }
}

.nav__button {
  text-decoration: none;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0rem 2rem 0rem 1.5rem;
  border-radius: 10px;
}

.nav__button p {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #3956FB;
  font-weight: 600;
}

.nav__button img {
  padding: 0.5rem 0.5rem 0.5rem;
}

.slogan {
  margin: 0;
  padding-left: 6rem;
  color: #FDFDFD;
}

@media (max-width: 899px) {
  .slogan {
    padding-left: 1rem;
  }
}

.slogan h4 {
  margin-bottom: 0;
}

.pano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin: 0rem 2rem 0 6rem;
}

@media (max-width: 899px) {
  .pano {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: 1rem;
  }
}

.pano__left {
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}

@media (max-width: 899px) {
  .pano__left {
    padding-left: 1rem;
  }
}

.pano__left__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pano__left__info .container:not(:last-child) {
  margin-right: 2rem;
}

.pano__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0;
  padding-left: 3rem;
}

.pano__right img {
  width: 100%;
  height: auto;
}

@media (max-width: 639px) {
  .pano__right img {
    padding-top: 10rem;
  }
}

.title {
  font-weight: 800;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 1px;
  text-align: center;
  color: #043C9C;
}

@media (max-width: 899px) {
  .title h4 {
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 899px) {
  .body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body h4 {
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
  }
  .body h5 {
    font-size: 16px;
  }
  .body p {
    font-size: 14px;
  }
}

.body h4 {
  color: #043C9C;
  font-weight: 700;
  size: 54px;
  line-height: 68px;
  letter-spacing: 0;
}

.body p {
  font-size: 15px;
  color: #5C7392;
}

.body h5 {
  color: #043C9C;
  font-weight: 700;
  font-size: 18px;
  height: 22px;
}

.body .button {
  color: white;
  text-decoration: none;
  background-color: #3956FB;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 48px;
  padding: 1rem 2.75rem;
  border-radius: 10px;
  cursor: pointer;
}

.first-frame {
  padding-top: 7.875rem;
  background-color: white;
}

@media (max-width: 899px) {
  .first-frame {
    padding: 8rem 0 0 1rem;
  }
}

.first-frame__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1.5rem;
  left: -1px;
}

.first-frame__left img {
  width: 100%;
  height: auto;
}

.first-frame__right {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.first-frame__right__shape {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.first-frame__right__shape img:not(:last-child) {
  padding-right: 1rem;
}

.background {
  background-color: #3956FB;
  width: 100%;
  height: 85vh;
}

.second-frame {
  margin-top: 1rem;
  padding: 4rem 0 0 8rem;
  background-image: url(../assets/images/Pattern.png);
}

@media (max-width: 899px) {
  .second-frame {
    margin-top: 15rem;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 4rem 0 5rem 1rem;
  }
}

.second-frame h4 {
  color: white;
}

.second-frame h5 {
  color: white;
}

.second-frame p {
  color: white;
}

.second-frame .button {
  background-color: white;
  color: #3956FB;
}

.second-frame__left {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media (max-width: 899px) {
  .second-frame__left {
    position: relative;
    padding-top: 5rem;
  }
}

.second-frame__left img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.second-frame__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.second-frame__right img {
  width: 100%;
  height: auto;
}

@media (max-width: 899px) {
  .second-frame__right img {
    position: absolute;
    top: -30vh;
    width: 50%;
    right: 15vw;
  }
}

@media (max-width: 639px) {
  .second-frame__right img {
    position: absolute;
    top: -30vh;
    width: 70%;
    right: 15vw;
  }
}

.third-frame {
  background-color: white;
}

.third-frame__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1.5rem;
  left: -1px;
}

.third-frame__left img {
  width: 100%;
  height: auto;
}

.third-frame__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 1rem;
}

.third-frame__right__shape {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.third-frame__right__shape img:not(:last-child) {
  padding-right: 1rem;
}

.video-frame {
  margin-top: 1rem;
  background-image: url(../assets/images/video1.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 70vh 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 70vh 0 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.video-frame__text h5 {
  color: white;
}

@media (max-width: 899px) {
  .video-frame__text h5 {
    margin: 1rem 0 2rem 0;
    padding: 1rem 0 2rem 0;
  }
}

.customer-pano {
  padding-top: 3rem;
  text-align: center;
}

.customer-pano h5 {
  color: #043C9C;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.customer-pano__logo {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 899px) {
  .customer-pano__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.customer-pano__logo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customer-pano__logo img {
  padding: 1rem 0 1rem 0;
  width: 50%;
}

@media (max-width: 899px) {
  .customer-pano__logo img {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.feedback {
  margin-top: 2rem;
  background-color: #F3FAFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.feedback p {
  color: #5C7392;
}

.feedback h5 {
  color: #043C9C;
}

.feedback img {
  padding-top: 0.5rem;
}

footer {
  background-color: #3956FB;
  background-image: url(../assets/images/FooterPattern.png);
  background-size: 100%;
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  padding-left: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 899px) {
  .footer {
    display: block;
    padding-left: 1rem;
    padding-top: 2rem;
  }
}

.footer h5 {
  color: white;
  padding-top: 1rem;
}

.footer p {
  color: white;
}

.footer input[type=email] {
  border: none;
  background: none;
}

.footer input[type=email] ::-webkit-input-placeholder {
  width: 100%;
  font-family: "Prompt";
  padding-left: 1rem;
}

.footer input[type=email] :-ms-input-placeholder {
  width: 100%;
  font-family: "Prompt";
  padding-left: 1rem;
}

.footer input[type=email] ::-ms-input-placeholder {
  width: 100%;
  font-family: "Prompt";
  padding-left: 1rem;
}

.footer input[type=email] ::placeholder {
  width: 100%;
  font-family: "Prompt";
  padding-left: 1rem;
}

.footer__info {
  padding-right: 1rem;
}

.footer__info__form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 11px;
}

.footer__info__form .button {
  margin: 0.2rem;
  color: #043C9C;
  background-color: white;
  padding: 0 2.5rem 0.5rem 2.5rem;
}

.footer__info__form .button p {
  color: #043C9C;
  margin: 0;
  padding-top: 0.5rem;
  font-weight: bold;
}

.footer__connect .icon {
  position: absolute;
  right: 5rem;
  bottom: 10rem;
}

@media (max-width: 899px) {
  .footer__connect .icon {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    left: 0;
    bottom: 3rem;
  }
}

.footer__connect .icon img {
  padding-right: 1rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */