@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;500;700;900&display=swap");
html {
  background-color: white;
  background-image: url(../assets/images/BG.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

body {
  font-family: 'Prompt', sans-serif;
}

body h4 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 48px;
  line-height: 62px;
  margin: 1rem 0 0.5rem 0;
}

body h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin: 1rem 0 0.5rem 0;
}

body p {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 26px;
  margin: 1rem 0 0.5rem 0;
}

.nav {
  /*navigation */
  background-color: none;
  height: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo img {
  padding-left: 6rem;
  width: auto;
}

.nav__button {
  text-decoration: none;
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0rem 2.125rem 0rem 2.125rem;
  border-radius: 10px;
}

.nav__button p {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #3956FB;
  font-weight: 600;
}

.nav__button img {
  padding: 1rem 0.5rem 1rem;
}

.slogan {
  margin: 0;
  padding-left: 6rem;
  color: #FDFDFD;
}

.slogan h4 {
  margin-bottom: 0;
}

.pano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin: 0rem 2rem 0 6rem;
}

.pano__left {
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}

.pano__left__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pano__left__info .container:not(:last-child) {
  margin-right: 2rem;
}

.pano__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0;
  padding-left: 3rem;
}

.pano__right img {
  width: 100%;
  height: auto;
}

.title h4 {
  font-weight: 800;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 1px;
  text-align: center;
  color: #043C9C;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body h4 {
  color: #043C9C;
  font-weight: 700;
  size: 54px;
  line-height: 68px;
  letter-spacing: 0;
}

.body p {
  font-size: 15px;
  color: #5C7392;
}

.body h5 {
  color: #043C9C;
  font-weight: 700;
  font-size: 18px;
  height: 22px;
}

.body .button {
  color: white;
  text-decoration: none;
  background-color: #3956FB;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 48px;
  padding: 1rem 2.75rem;
  border-radius: 10px;
  cursor: pointer;
}

.first-frame {
  padding-top: 7.875rem;
  background-color: white;
}

.first-frame__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1.5rem;
  left: -1px;
}

.first-frame__left img {
  width: 100%;
  height: auto;
}

.first-frame__right {
  padding-left: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.first-frame__right__shape {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.first-frame__right__shape img:not(:last-child) {
  padding-right: 1rem;
}

.background {
  background-color: #3956FB;
  width: 100%;
  height: 85vh;
}

.second-frame {
  padding: 5rem 0 0 8rem;
  background-image: url(/assets/images/Pattern.png);
}

.second-frame h4 {
  color: white;
}

.second-frame h5 {
  color: white;
}

.second-frame p {
  color: white;
}

.second-frame .button {
  background-color: white;
  color: #3956FB;
}

.second-frame__left {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.second-frame__left img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.second-frame__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.second-frame__right img {
  padding-top: 3rem;
  width: 100%;
  height: auto;
}

.third-frame {
  background-color: white;
}

.third-frame__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1.5rem;
  left: -1px;
}

.third-frame__left img {
  width: 100%;
  height: auto;
}

.third-frame__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.third-frame__right__shape {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.third-frame__right__shape img:not(:last-child) {
  padding-right: 1rem;
}

.video-frame {
  background-image: url(/assets/images/video1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-box-shadow: inset 0 0 0 700px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 700px rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.video-frame::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-frame__text h5 {
  color: white;
}

.customer-pano {
  padding-top: 3rem;
  text-align: center;
}

.customer-pano h5 {
  color: #043C9C;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.customer-pano__logo {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback {
  margin-top: 2rem;
  background-color: #F3FAFF;
  padding-top: 2rem;
  text-align: center;
}

.feedback p {
  color: #5C7392;
}

.feedback h5 {
  color: #043C9C;
}

.feedback img {
  padding-top: 0.5rem;
}
/*# sourceMappingURL=style.css.map */